
.NavigationComponent {
    display: flex;
    flex-direction: row;
	height: 50px;
	background: linear-gradient(to right, #250056 , #0076ae);
    color: white;
	font-size: 14px;
    
    .NavLeft {
		width: 70%;
		display: flex;
		justify-content: flex-start;
	}

	.NavRight {
		width: 30%;
		display: flex;
		justify-content: flex-end;
	}
}